:root {
    --sm-left-margin: 30px;
    --md-left-margin: 80px;
    --lg-left-margin: 80px;

    --top-margin: 30px;

    --article-card-side-padding: 15px;

    --article-border: 1px solid rgb(136, 134, 134);
}

.company-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-background-color);
}

.header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 100px;
    /* border-bottom: 1px solid black; */
    padding: var(--top-margin) var(--sm-left-margin)
}

.content {
    padding: 0 var(--sm-left-margin);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.desc-and-company {
    display: flex;
    justify-content: space-between;
}

.desc-container {
    display: none;
    padding-top: 10px;

    justify-content: center;
}

#description {
    width: 100%;

}

.desc-background {
    max-width: var(--search-bar-size);
    height: max-content;
    padding: 20px 15px;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    padding: 20px var(--sm-left-margin);
    margin-top: auto;
}

@media (min-width:768px) {

    .header,
    .content,
    footer {
        padding-left: var(--md-left-margin);
    }
}

@media(min-width:1300px) {

    .header,
    .content,
    footer {
        padding-left: var(--lg-left-margin)
    }

    .desc-container {
        display: flex;
    }
}

/* Also contains articles */
.company-info-container {

    /* background-color: var(--secondary-background-color); */
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
}


#homepage-logo:hover {
    color: var(--result-hover-color);
}

.company-title-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.logo-container {
    aspect-ratio: 5/1;
    width: auto;
    height: max-content;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.logo-container img {
    height: 70px;
    width: auto;
    max-width: 300px;
}

#company-name a {
    all: unset;
    cursor: pointer;
    color: var(--primary-color);
}

#company-name a:hover {
    color: var(--result-hover-color)
}


/* Article cards */
.articles-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;

    border-top: var(--article-border);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: var(--article-border);
    border-right: var(--article-border);

    background-color: var(--secondary-background-color);
}

.articles-container.loading {
    border-bottom: var(--article-border);
}

.article-card {
    width: 100%;
    padding: var(--article-card-side-padding);
    border-bottom: var(--article-border);
}

.bottom-card{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article-info {
    display: flex;
    justify-content: space-between;
}


.article-info .col {
    max-width: 400px;
}

.article-info .col {
    display: flex;
    flex-direction: column;
}

.col2{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-end;
}
.col2 p{
    text-align: right;
}
.source-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.icon-img-container {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

.article-description *{
    font-size: 15px;
}
.article-description{
    padding-top: 10px;
}

/* Category dropdown select */
.dropdown-container {
    position: relative;
    width: 250px;
    height: max-content;
    border: var(--article-border);
    border-bottom: none;
    font-size: 1rem;
}

.dropdown-container,
.dropdown-content {
    background-color: var(--secondary-background-color);
}

.dropdown-container button {
    margin-bottom: -1px;
    position: relative;
    border: none;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    z-index: 1;
}

.dropdown-container,
.dropdown-container button {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dropdown-container button,
.dropdown-item {
    padding: 10px var(--article-card-side-padding);
    background-color: var(--secondary-background-color);
}

.dropdown-item:hover,
.dropdown-container button:hover {
    color: rgb(132, 132, 132);
    text-decoration-line: underline;
    
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: 40vh;

    border: var(--article-border);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}


